.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  height: 100vh;
  color: #ffffff;
}

.inviteBox {
  background-color: #2e2e2e;
  border-radius: 12px;
  padding: 20px;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  margin: 0;
  font-size: 16px;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inviteButton {
  background-color: #ffb300;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  flex: 1;
  margin-right: 10px;
}

.copyButton {
  background-color: #555555;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.copyButton img {
  width: 24px;
  height: 24px;
}

.referralsContainer {
  width: 90%;
}

.referralsContainer p {
  margin-bottom: 20px;
}

.referralsTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.referralItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #3e3e3e;
  border-radius: 8px;
  margin-bottom: 10px;
}

.referralHeader {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.referralInfo {
  display: flex;
  flex-direction: column;
}

.referralName {
  font-size: 16px;
  font-weight: bold;
}

.referralRewards {
  font-size: 16px;
  font-weight: bold;
  color: green;
}
